<!-- templates/mission_list.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Missions</title>
</head>
<body>
    <h1>Liste des Missions</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Responsable</th>
                <th>Projet</th>
                <th>Chef de Projet</th>
                <th>Date d'Enregistrement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.responsable.nom }} {{ mission.responsable.prenom }}</td>
                <td>{{ mission.projet }}</td>
                <td>{{ mission.chef_de_projet }}</td>
                <td>{{ mission.date_enregistrement }}</td>
                <td>
                    <a href="{{ url_for('edit_mission', mission_id=mission.id) }}">Modifier</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('addMission') }}">Ajouter une nouvelle mission</a>
</body>
</html>
